# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Tools & logs
logs/
*.log
wdm_cache/
debug_amazon_page_*.html

# Selenium/cookies (never commit)
amazon_cookies.json

# Data (you can upload small sample CSVs under examples/ if you want)
data/
*.csv

# Jupyter
.profile
